numpy==1.26.4
transformers
torch --index-url https://download.pytorch.org/whl/cpu
dateparser
faiss_cpu
langchain_community
langchain
tiktoken
unicode
python-docx
sentence_transformers
azure-functions
azure-eventgrid
openai==1.56.1
httpx==0.27.2
azure-communication-callautomation
azure-communication-identity
